<div class="dashboard-container">
<div class="toolbar">
  <p-button icon="pi pi-plus" (click)="showAddDialog = true" label="Add Widget"></p-button>
  <p-button
    [label]="editMode ? 'Save Layout' : 'Edit Layout'"
    (click)="toggleEditMode()">
  </p-button>
  <p-button
    *ngIf="editMode"
    icon="pi pi-refresh"
    label="Reset to Default"
    severity="danger"
    (click)="resetToDefault()">
  </p-button>
</div>

  <div
    class="dashboard-grid"
    [style.gridTemplateColumns]="'repeat(' + cols + ', ' + cellSize + 'px)'"
    [style.width]="cols * cellSize + 'px'">
    
    <!-- Grid cells visualization -->
    <div
      *ngFor="let cell of gridCells"
      class="grid-cell"
      [class.edit-mode]="editMode"
      [style.gridColumn]="cell.x + 1"
      [style.gridRow]="cell.y + 1">
    </div>

    <!-- Widgets -->
    <div
      *ngFor="let widgetPos of dashboardWidgets; let i = index"
      class="widget"
      [style.gridColumn]="widgetPos.x + 1 + ' / span ' + widgetPos.cols"
      [style.gridRow]="widgetPos.y + 1 + ' / span ' + widgetPos.rows"
      pDraggable="widgets"
      (onDragEnd)="onDragEnd($event, widgetPos)"
      [ngClass]="{ 'edit-mode': editMode }">
      
      <div class="widget-header">
        <h3>{{ widgetPos.widget.name }}</h3>
        <button
          *ngIf="editMode"
          class="remove-button"
          (click)="removeWidget(i)"
          pButton
          icon="pi pi-times"
          severity="danger">
        </button>
      </div>
      <p>{{ widgetPos.widget.description }}</p>
      <div class="widget-size">{{ widgetPos.cols }}x{{ widgetPos.rows }}</div>
    </div>
  </div>

  <p-dialog
    header="Add Widget"
    [(visible)]="showAddDialog"
    [style]="{ width: '50vw' }">
    
    <div class="widget-list">
      <div
        *ngFor="let widget of availableWidgets"
        class="widget-item"
        pDraggable="widgets"
        [pDraggableDisabled]="true">
        <h4>{{ widget.name }}</h4>
        <p>{{ widget.description }}</p>
        <button
          pButton
          icon="pi pi-plus"
          label="Add to Dashboard"
          (click)="addWidget(widget)">
        </button>
      </div>
    </div>
  </p-dialog>

  <p-toast></p-toast>
</div>